body {
  background-color: #c7ecee;
  display: flex;
  justify-content: center;
}

.container {
  width: 380px;
  padding: 20px;
  background-color: aqua;
  position: relative;
  font-family: "Noto Sans KR", sans-serif;
  box-shadow: 2px 2px 2px #78e08f(0, 0, 0, 0.2);
  border-radius: 50px;
}

.icon {
  position: absolute;
  top: 30px;
  right: 36px;
  cursor: pointer;
  background-color: #ecf0f1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon i {
  font-size: 24px;
  color: #ffffff;
}

.camera {
  width: 380px;
  height: 380px;
  box-shadow: 2px 2px 4px #78e08f;
  border-radius: 10%;
  background-color: aqua;
}

.name {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #3d3d3d;
}

.percent {
  text-align: left;
  font-size: 20px;
  font-family: math;
  color: #130f40;
}

.description {
  margin-top: 10px;
  padding: 1px;
  font-size: medium;
  font-family: -webkit-pictograph;
  color: #3498db;
}

.icon .invisible {
  display: none;
}
